*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.logo{
    height: 450px; 
    width: 100%; 
    position: absolute; 
    z-index: -1; 
    background-image: url(https://th.bing.com/th/id/OIG.4dHeaPP0y5Lumc_YNFD4?pid=ImgGn); 
    background-size: cover; 
    background-position: center; 
    opacity: 0.4; 
}
.button{
  margin-left: 65em;
  background-color: rgb(192, 100, 24);
  color: whitesmoke;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;

} 

header p { 
    padding: 1em 300px; 
    text-align: center; 
    font-weight: bold;
    font-size: 30px;
 
} 
header h2{
    padding: 60px 60px;
    margin-left: 30px;
    font-size:45px;
}
.section1 h1 {
    position: absolute;
    top: 80%;
    left: 7%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.p1{
position: absolute;
top: 95%;
left: 45%;
font-size: 24px;

}

.p2 {
    position: absolute;
    top: 120%;
    left: 50%;
    font-size: 24px;
}
.section1 img{
    width: 500px;
    position: absolute;
    top: 75%;
    left: 0px;
}
.section-text h1 {
    font-size: 35px;
    position: absolute;
    top: 42%;
    left: 25%;
    color:  rgb(192, 100, 24) ;
}
.section-text{
    position: absolute;
    top: 157%;
    width: 100%;
    height: 20%;
    background-color: black;
    border-radius: 20px;
}
.personal.blos{
    position: absolute;
    top: 180%;
    left: 65%;
    width: 30%;
    height: 70%;
    border-radius: 40px;
    padding: 40px;
    background-color: black;
   
}

.personal.blos h2{
    color: aliceblue;
    top: 20%;
    margin-left: 23%;
}
 .row{
    color: aliceblue;
    padding-top: 20px;
    left: 17%;
    position: relative;
 }

 

.but{
    background-color: rgb(192, 100, 24);
    color: whitesmoke;
    padding: 3px 3px;
    margin-right: 10px ;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    margin-left: 65%;
    margin-top: 5%;
}
.button:hover {
    cursor: pointer;
    background-color: rgb(10, 10, 10);
    padding: 7px 10px;

}

iframe{
    width: 60vw;
    height: 35vw;
    filter: invert(100%);
    padding: 30px;
}
.kar{
    position: relative;
    margin-top: 53%;
}
.content{
    display: flex;
    width: 100%; 
}


@media screen and (min-width: 320px) and (max-width: 768px) {
.logo{
    height: 250px;
    width: 100%; 
}
.button {
    width: 25%; 
    margin-left: 62%;
   

  }
  header h2{
    padding: 20px 20px;
    margin-left: 10px;
    font-size:27px;
  }
  header p { 
    padding: 15px; 
    font-size: 20px;
}
.section1 h1 {
    top: 45%;
    left: 13%;
    font-size:20px;
}
.p1{
top: 45%;
left: 52%;
font-size: 16px;
}

.p2 {
    top: 70%;
    left: 52%;
    font-size: 16px;
}
.section1 img{
    width: 250px;
    height: 350px;
    top: 43%;
    left: 0px;
}
.section-text h1 {
    font-size: 20px;
    top: 42%;
    left: 15%;
    
}
.section-text{
    top: 102%;
    width: 100%;
    height: 12%;
    border-radius: 12px;
}
.personal.blos{
    top: 115%;
    left: 6%;
    width: 90%;
    height: 35%;
}

.personal.blos h2{
    padding-top: 1%;
    margin-left: 25%;
}
 .row{
    padding-top: 10px;
    left: 22%;
 }
.but{
    margin-left: 72%;
    margin-top: 2%;
}

iframe{
    width: 100vw;
    height: 35vw;
    padding: 30px;
}
.kar{
    margin-top: 132%;
}
}